[edit]
    command = "code"
    args = ["--wait"]

{{ $profileTypes := list "personal" "work" -}}
{{ $profile := promptChoice "Which host profile you want to set up?" $profileTypes -}}
{{ $email := promptString "email" -}}
{{ $workEmail := promptString "workEmail" -}}
[data]
    profile = {{ $profile | quote }}
    email = {{ $email | quote }}
    workEmail = {{ $workEmail | quote }}
