{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

export PATH="$PATH:/opt/homebrew/bin"

{{ range .packages.darwin.taps -}}
brew tap {{ . | quote }}
{{ end -}}

brew install "mas"

{{ range .packages.darwin.brews -}}
brew install {{ . | quote }}
{{ end -}}

{{ range .packages.darwin.casks -}}
brew install --cask --force {{ . | quote }}
{{ end -}}

{{ range .packages.darwin.store_apps -}}
mas install {{ .id }}
{{ end -}}

{{ end -}}
