{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

export PATH="$PATH:/opt/homebrew/bin"

{{ range .packages.darwin.taps -}}
brew tap {{ . | quote }}
{{ end -}}

brew install "mas"

{{ range .packages.darwin.brews -}}
if ! brew list {{ . | quote }} > /dev/null 2>&1; then
  brew install {{ . | quote }}
fi
{{ end -}}

{{ range .packages.darwin.casks -}}
if ! brew list --cask {{ . | quote }} > /dev/null 2>&1; then
  brew install --cask --force {{ . | quote }}
fi
{{ end -}}

{{ range .packages.darwin.store_apps -}}
if ! mas list | grep -q {{ .id }}; then
  mas install {{ .id }}
fi
{{ end -}}

{{ end -}}