{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

sudo -v

xcode-select --install

# Install brew if not installed
if ! type brew &>/dev/null; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

{{ end -}}