{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

export PATH="$PATH:/opt/homebrew/bin"

bundle_content=$(cat <<'EOF'
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}

brew "mas"

{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}

{{ range .packages.darwin.casks -}}
cask {{ . | quote }}, greedy: true
{{ end -}}

{{ range .packages.darwin.store_apps -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
EOF
)

tmpfile=$(mktemp)

echo "$bundle_content" > "$tmpfile"

brew bundle --no-lock --file="$tmpfile" || true

rm -f "$tmpfile"

{{ end -}}
