[gpg]
	format = "ssh"

[user]
	email = {{ .email | quote }}
	name = "Caio Ferreira"
	{{- $profileKey := "~/.ssh/id_rsa" }}
	{{- if (eq .profile "work") }}
	{{- $profileKey = "~/.ssh/id_rsa_personal" }}
	{{- end }}
	signingkey = {{ $profileKey | quote }}
