#!/usr/bin/env zsh

# Setup key bindings
bindkey "[D" backward-word
bindkey "[C" forward-word
bindkey "^[a" beginning-of-line
bindkey "^[e" end-of-line

alias k=kubectl

alias c="clear"

alias w="cd ~/workspace"
alias work="cd ~/workspace"
alias workspace="cd ~/workspace"
alias s="cd ~/sandbox"
alias sand="cd ~/sandbox"
alias sandbox="cd ~/sandbox"
